.currencyContainer {
  display: flex;
  flex-wrap: wrap;
}

.companyBox {
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
  height: 300px;
}

.search-button {
  background-image:
    linear-gradient(
      to top,
      #5f72bd 0%,
      #9b23ea 100%
    ) !important;
}

.companyBox:hover {
  background-color: #000;
  background-image: linear-gradient(147deg, #000 0%, #923cb5 74%);
}

.company-detail {
  height: 280px !important;
}

.spinner {
  width: 10rem;
  height: 10rem;
  color: #5f72bd;
}
